.header {
    display: flex;
    justify-content: flex-start;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.item {
    filter: brightness(0) invert(1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
}

.item__icon {
    width: 3.5rem;
    margin: 20px 0;
}

.item__text {
    padding: 20px;
    text-align: center;
}
