.user_button {
    margin-top: 1rem;
    color: white;
    outline: none; /* Для синий ободки */
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.user_button:active {
    border: 1px solid yellowgreen;
    color: yellowgreen;
}
