.available_sizes {
    margin-top: 4rem;
}

.available_sizes__title {
    vertical-align: center;
}

.available_sizes__list {
    overflow-x: scroll;
    display: flex;
}

.available_sizes__list::-webkit-scrollbar { width: 0 }

.available_sizes__list_item {
    list-style: none;
    margin-right: 0.7rem;
}

.available_sizes_button {
    padding: 2px;
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    color: white;
    height: 2rem;
}
