.filter {
    border: 1px solid greenyellow;
    width: auto;
    text-align: center;
}

.filter__title {
    text-align: center;
    font-size: 2rem;
}

.filter__brands {

}

.filter__brands_title {

}

.filter__brands_list {

}

.filter__brands_list_item {
    color: white;
    list-style-type: none;
    font-size: 13px;
}

.filter__brands_list_item:hover {
    color: greenyellow;
}

.filter__button {
    margin-top: 1rem;
    color: white;
    outline: none; /* Для синий ободки */
    border: 1px solid greenyellow;
    border-radius: 5px;
    background: transparent;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.filter__button:active {
    border: 1px solid yellowgreen;
    color: yellowgreen;
}