
.image_container {
    width: 300px;
    height: 400px;
    line-height: 400px;
    border-radius: 10px;
    vertical-align: center;
    text-align: center;
    background-color: white;
}

.image {
    height: inherit;
    object-fit: contain;
    vertical-align: middle;
}
