.history {
    width: 47%;
}

.history__title {

}

.history__list {
    display: flex;
    overflow-x: scroll;
    height: 300px;
    padding: 0;
}

.history__list::-webkit-scrollbar { width: 0 }


.history__list_item {
    margin-right: 1rem;
    width: 100px;
    height: 200px;
    list-style: none;
}

.history__list_item_image_container {
    width: 100px;
    height: 200px;
    line-height: 200px;
    border-radius: 10px;
    vertical-align: center;
    text-align: center;
    background-color: white;
}

.history__list_item_image {
    height: inherit;
    object-fit: contain;
    vertical-align: middle;
}

.history__list_item_title {

}
