.recs {
    width: 47%;
}

.recs__title {

}

.recs__list {
    display: flex;
    overflow-x: scroll;
    height: 300px;
    padding: 0;
}

.recs__list::-webkit-scrollbar { width: 0 }

.recs__list_item {
    margin-right: 1rem;
    width: 100px;
    height: 200px;
    list-style: none;
}

.recs__list_item_image_container {
    width: 100px;
    height: 200px;
    line-height: 200px;
    border-radius: 10px;
    vertical-align: center;
    text-align: center;
    background-color: white;
}

.recs__list_item_image {
    height: inherit;
    object-fit: contain;
    vertical-align: middle;
}

.recs__list_item_title {

}
